.photo-list {
  display: grid;
  /* grid-template-columns: repeat(1fr 1fr 1fr 1fr); */
  grid-template-columns: repeat(auto-fit, 300px);
  /* grid-template-rows: auto auto auto; */
  grid-gap: 10px;
  justify-items: center;
  padding-left: 2%;
  padding-bottom: 30px;
}

img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all;
}

img:hover {
  box-shadow: none;
  transition-duration: 0.3s;
  transform: translateY(5px);
}

/* @media (min-width: 40em) {
  .grid {
    grid-template-columns: 2fr 1fr;
  }
  } */